<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S2ORC doc2json</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>S2ORC doc2json utility</h1>
    <p>Upload a scientific PDF, LaTeX zip file, or JATS XML file and get back a JSON: </p>
    <p>(Accepted file extensions: *.pdf, *.gz, *.nxml)</p>
    <form method=post enctype=multipart/form-data>
        <p><input type="file" name="file" accept=".pdf,.gz,.nxml"></p>
        <p><input type="submit" value="Upload"></p>
    </form>
    <p>Please wait, processing takes time...</p>
</body>
</html>