html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
    font-family: Calibri, Arial, sans-serif !important;
  }

  h1 {
    font-size: 32px;
  }

  h2, h3 {
    font-size: 24px;
  }

  body {
    margin: 20px;
    font-size: 125%;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
  }

  footer {
    margin-top: 50px;
    border-top: 1px solid silver;
    font-size: 0.8em;
  }

  footer ol {
    padding-left: 20px;
  }

  .p {
    text-align: center;
    font-size: .75em;
    padding-top: 150px;
  }